#devices td {
    font-size: 0.7rem;
  }

#studies td {
  font-size: 0.85rem;
}  

#tasks td {
  font-size: 0.8rem;
}

#missing td {
  font-size: 0.85rem;
}  

.container {
  margin-top: 80px;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: max-content auto;
  row-gap: 0.25rem;
  column-gap: 1rem;
}

.progress {
  position: relative;
}

.progress-bar-title {
  position: absolute;
  text-align: center;
  line-height: 38px; /* line-height should be equal to bar height */
  overflow: hidden;
  right: 0;
  left: 0;
  top: 0;
}